<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="vue">
        <div>
            <h3>입력폼 활용하기</h3>
            이름 : <input v-model.lazy="nameInput"><br>
            좋아하는 색은 : <br>
            <label><input type="radio" value="red" v-model="selectedColor">빨강</label><br>
            <label><input type="radio" value="green" v-model="selectedColor">초록</label><br>
            <label><input type="radio" value="blue" v-model="selectedColor">파랑</label><br>
            <label><input type="radio" value="yellow" v-model="selectedColor">노랑</label><br>
            <label><input type="radio" value="gray" v-model="selectedColor">회색</label><br>
            내 이름은 {{ nameInput }} 이고 좋아하는 색은 <span v-bind:style="{color:selectedColor}">{{selectedColor}} </span>입니다.
        </div>
    </div>
</body>
<script>
    new Vue({
        el : '#vue',
        data : {
            nameInput : '',
            selectedColor : '',
        },
    });
</script>
</html>